
__pycache__/inputFunctions.cpython-37.pyc
__pycache__/LinShapeFun1D.cpython-37.pyc
__pycache__/loadMatrix.cpython-37.pyc
__pycache__/plotpf.cpython-37.pyc
__pycache__/stiffnessMatrix.cpython-37.pyc
.DS_Store
